
.inputEmail, .inputPassword {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  .container {
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    
  }